<ion-view title="{{ 'Dashboard_Title' | translate }}">
    <ion-content overflow-scroll="true" padding="true" class="has-header dashboard">
        <div class="button_requests_dashboard">
            <div class="anuncis button_active">Anuncios</div>
            <div ng-click="changetorequests()" class="peticions">Peticiones</div>
        </div>
        <form class="list">
            <label class="item item-input" name="buscador">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Cerca el que necessitis">
            </label>
        </form>
        <div class="list card dashboard_item" ng-repeat="item in items | orderBy:'ItemName':true track by $index" ng-click="goToDetail(item)">
            <div class="item item-divider">{{ item.ItemName }}</div>
            <div class="item item-body">
                <a style="display:inline-block; float: left;" ui-sref="app.productDetail">
                    <div style="text-align: center">
                        <img ng-src="{{ item.Image1 }}" width="100%" height="110px">
                    </div>
                </a>
                <div>
                    <p style="text-align:center;">{{ item.htmlestrellitas }}</p>
                </div>
            </div>
        </div>
    </ion-content>

</ion-view>
