<!--<ion-view title="{{ 'Profile_Title' | translate }}">-->
<ion-view title="{{ otherProfile ? userInfo.Name : 'Profile_Title' | translate }}">
  <ion-content overflow-scroll="true" class="has-header user_profile">
    <ng-map class="mapa"></ng-map>
    <div class="up_img">
      <img ng-src="{{ userInfo.Image }}" alt="Profile Image">
    </div>
    <div class="up_estrellitas">{{ userInfo.htmlStars }}</div>
    <div class="up_name">
      {{ userInfo.Name }} {{ userInfo.Surname }}
    </div>
    <!--<div class="up_extrainfo">-->
      <!--{{ 'Number_Of_Lent_Products' | translate }}: <b>10</b>-->
    <!--</div>-->
    <!--<div class="up_extrainfo">-->
      <!--{{ 'Number_Of_Requested_Products' | translate }}: <b>3</b>-->
    <!--</div>-->
    <div class="up_extrainfo">
      {{ 'Number_Of_Transacctions' | translate }}: <b>{{ userInfo.Transaccions.length ? userInfo.Transaccions.length : 0 }}</b>
    </div>
    <div class="up_info">
      <uib-tabset active="active">
        <uib-tab index="0" class="up_buttons">
          <uib-tab-heading>
            <div class="up_button_num">
              {{ anunciosUser.length ? anunciosUser.length : 0 }}
            </div>
            <div class="up_button_text">
              Anuncis
            </div>
          </uib-tab-heading>
          <div class="list card dashboard_item" ng-repeat="item in anunciosUser">
            <a ui-sref="app.productDetail({ itemId: item.Idd, ownerId: item.IDuser })">
              <div class="item item-divider">{{ item.ItemName }}</div>
              <div class="item item-body">
                <a style="display:inline-block; float: left;" ui-sref="app.productDetail({ itemId: item.Idd, ownerId: item.IDuser })">
                  <div style="text-align: center">
                    <img ng-src="{{ item.Image1 }}" width="100%" height="110px">
                  </div>
                </a>
                <div>
                  <p style="text-align:center;">{{ item.htmlestrellitas }}</p>
                </div>
              </div>
            </a>
          </div>
        </uib-tab>
        <uib-tab index="1" class="up_buttons" ng-if="showPrivateTabs">
          <uib-tab-heading>
            <div class="up_button_num">
              {{ userPeticiones.length ? userPeticiones.length : 0 }}
            </div>
            <div class="up_button_text">
              Peticions
            </div>
          </uib-tab-heading>
          <div ng-repeat="item in userPeticiones">
            <div class="reqquests item item-body">
              <b>{{ item.UserName }} {{ item.UserSurname }}</b> {{ 'Needs' | translate }}:
              <div class="item_inside">
                <div class="item_title">
                  {{ item.Name }}
                </div>
                <div class="item_description">
                  {{ item.Descripcio }}
                </div>
                <img ng-src="{{ item.Image }}">
              </div>
            </div>
          </div>
        </uib-tab>

        <uib-tab index="2" class="up_buttons">
          <uib-tab-heading>
            <div class="up_button_num">
              {{ userInfo.Valoracions.length ? userInfo.Valoracions.length : 0 }}
            </div>
            <div class="up_button_text">
              Valoracions
            </div>
          </uib-tab-heading>
          <div class="review" ng-repeat="item in userValoraciones">
            <div class="namesurnamestars">
              <div class="name">
                {{ item.Name }} {{ item.Surname }}
              </div>
              <div class="estrelles">{{ item.htmlestrellitas }}</div>
            </div>
            <div class="revtext">{{ item.Valoracio }}</div>
          </div>
        </uib-tab>

        <uib-tab index="3" class="up_buttons" ng-if="showPrivateTabs">
          <uib-tab-heading>
            <div class="up_button_num">
              {{ userFavoritos.length ? userFavoritos.length : 0 }}
            </div>
            <div class="up_button_text">
              Favoritos
            </div>
          </uib-tab-heading>
          <div class="list card dashboard_item" ng-repeat="item in userFavoritos">
            <a ui-sref="app.productDetail({ itemId: item.Idd, ownerId: item.IDuser })">
              <div class="item item-divider">{{ item.ItemName }}</div>
              <div class="item item-body">
                <a style="display:inline-block; float: left;" ui-sref="app.productDetail">
                  <div style="text-align: center">
                    <img ng-src="{{ item.Image1 }}" width="100%" height="110px">
                  </div>
                </a>
                <div>
                  <p style="text-align:center;">{{ item.htmlestrellitas }}</p>
                </div>
              </div>
            </a>
          </div>
        </uib-tab>
      </uib-tabset>
    </div>
  </ion-content>
</ion-view>
