.background_color_chat{
  background-color: #fafafa;
}

.button-send {
  width: 20px;
  height: 20px;
  font-size: 32px;
  background-color: #6AAFE6;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 90%;
  margin-left: 15px;
}

.content{
  max-width: 100%;
  bottom:62px;
  /*word-break: break-all;
  word-wrap: break-word;
  white-space: normal;*/

  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  //word-break: break-all;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}

/* BUTTON */
.bottom-box{
  position: fixed;
  width: 100%;
  bottom: 0px;
}

/* BACKGROUND */
.background_color_chat{
  background-color: #fdfdfd;
}

/* MISSATGES */

.bubble {
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;

  .bubble_text {
    display: inline-block;
    position: relative;
    padding: 6px 15px;
    background: #FFFFFF;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 13px;
  }
}

.bubble_left{
  text-align: left;
  margin-right: 20%;
  .bubble_text {
    text-align: left;
    background: #d2e7f9;
    color: #0c365a;
  }
}

.bubble_right {
  text-align: right;
  margin-left: 20%;
  .bubble_text {
    text-align: left;
    background: #6AAFE6;
    color: #FFFFFF;
  }
}
.item-input-wrapper {
  height: 40px;
  width: 100%;
  border-radius: 10px;
}

.item-input-inset {
  height: 65px;
}
.input {
  width: 100%;

}
