.dashboard {
	.dashboard_item {
		width: 46%;
		display: inline-block;
		margin: 2%;
		vertical-align: top;
		// height: 200px;
	}

	/* SEARCH */
	.search_input {
		border: 1px solid #DDD;
		width: 100%;
		padding: 0px 8px;
		margin-bottom: 15px;
		border-radius: 5px;
	}

	.list:last-child.card {
		margin-bottom: 20px;
	}
}

.button_requests_dashboard {
	width: 100%;
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 2px;
	margin-bottom: 10px;
	display: flex;

	.anuncis {
		flex: 1;
		text-align: center;
		padding: .7em 1em;
		border-radius: 2px;
	}
	.peticions {
		flex: 1;
		text-align: center;
		padding: .7em 1em;
		border-radius: 2px;
	}
	.button_active {
		background-color: #387ef5;
		color: #fff;
	}
}

.peticions_content {

	margin-bottom: 10px;

	.item {
		margin: .7em 0;
		border-radius: 5px;
		padding: .5em;

		.item_inside {
			margin-top: .5em;
			border-radius: 5px;
			border: 1px solid #ddd;
			background-color: #eee;
			text-align: center;
			padding: .7em .5em 0 .5em;

			.item_title {
				font-weight: bold;
				margin-bottom: 3px;
				text-transform: uppercase;
			}
			.item_description {
				font-size: .8em;
				margin-bottom: 10px;
			}
			.item_image {
				max-width: 100%;
				max-height: 100%;
			}
		}
	}

	/* SEARCH */
	.search_input {
		border: 1px solid #DDD;
		width: 100%;
		padding: 0px 8px;
		margin-bottom: 15px;
		border-radius: 5px;
	}
}

ion-slides{
  height: 50% !important;
}
.swiper-slide{
  text-align: center;
}
