.dashboard {
	.dashboard_item {
		width: 46%;
		display: inline-block;
		margin: 2%;
		vertical-align: top;
		height: 200px;
	}
}

.button_requests_dashboard {
	width: 100%;
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 2px;
	margin-bottom: 1em;
	display: flex;

	.anuncis {
		flex: 1;
		text-align: center;
		padding: .7em 1em;
		border-radius: 2px;
	}
	.peticions {
		flex: 1;
		text-align: center;
		padding: .7em 1em;
		border-radius: 2px;
	}
	.button_active {
		background-color: #387ef5;
		color: #fff;
	}
}

.peticions {

	.item {
		margin: .7em 0;
		border-radius: 5px;
		padding: .5em;

		.item_inside {
			margin-top: .5em;
			border-radius: 5px;
			border: 1px solid #ddd;
			background-color: #eee;
			text-align: center;
			padding: .7em .5em;

			.item_title {
				font-weight: bold;
			}
			.item_description {
				font-size: .8em;
			}
			.item_image {
				max-width: 100%;
				max-height: 100%;
				margin-top: .7em;
			}
		}
	}	
}