.rateProduct {
	
	.img_stars {
		text-align: center;

		img {
			border-radius: 60px;
			border: 5px solid #fff;
			z-index: 20;
      		background: whitesmoke;
      		width: 120px;
      		height: 120px;
      		margin-top: 5px;
		}
	}

	textarea {
		border: 1px solid #ccc;
		box-sizing: border-box;
		height: 100px;
		padding: 5px 7px;
		width: 100%;
		display: block;
		border-radius: 5px;
		margin: 10px 0 20px 0;
	}

	.stars {
		margin: 0 7em;
		display: inline-block;
		// STARS CSS3
		//@import "compass/css3";

		$unchecked-star: '\2606';
		$unchecked-color: #CCC;
		$checked-star: '\2605';
		$checked-color: #FFBC42;

		.star-cb-group {
		  /* remove inline-block whitespace */
		  font-size: 0;
		  * {
		    font-size: 3rem;
		  }
		  /* flip the order so we can use the + and ~ combinators */
		  unicode-bidi: bidi-override;
		  direction: rtl;
		  & > input {
		    display: none;
		    & + label {
		      /* only enough room for the star */
		      display: inline-block;
		      overflow: hidden;
		      text-indent: 9999px;
		      width: 1em;
		      white-space: nowrap;
		      cursor: pointer;
		      &:before {
		        display: inline-block;
		        text-indent: -9999px;
		        content: $unchecked-star;
		        color: $unchecked-color;
		      }
		    }
		    &:checked ~ label:before,
		      & + label:hover ~ label:before,
		      & + label:hover:before {
		      content: $checked-star;
		      color: $checked-color;
		      // text-shadow: 0 0 1px #333;
		    }
		  }
		  
		  /* the hidden clearer */
		  & > .star-cb-clear + label {
		    text-indent: -9999px;
		    width: .5em;
		    margin-left: -.5em;
		  }
		  & > .star-cb-clear + label:before {
		    width: .5em;
		  }

		  &:hover > input + label:before {
		    content: $unchecked-star;
		    color: $unchecked-color;
		    text-shadow: none;
		  }
		  &:hover > input + label:hover ~ label:before,
		  &:hover > input + label:hover:before {
		    content: $checked-star;
		    color: $checked-color;
		    // text-shadow: 0 0 1px #333;
		  }
		}

		// extra styles
		:root {
		  font-size: 2em;
		  font-family: Helvetica, arial, sans-serif;
		}

		fieldset {
		  border: 0;
		}
	}
	

	#save {
		left: 0;
		right: 0;
		padding: 15px 0;
		border-radius: 5px;
		text-transform: uppercase;
		background-color: $balanced;
		color: #fff;
		text-align: center;
		cursor: pointer;
	}
}

