.user_profile {
	.mapa {
		height: 150px;
	}
	.up_img {
		text-align: center;
		margin-top: -60px;
		position: relative;

		img {
			width: 120px;
      height: 120px;
			border-radius: 60px;
			border: 5px solid #fff;
			z-index: 20;
			background: whitesmoke;
		}
	}

	.up_estrellitas {
		text-align: center;
	}

	.up_name {
		text-align: center;
		margin: 5px 0 10px 0;
		font-size: 22px;
	}

	.up_extrainfo {
		text-align: center;
		color: #777;
	}

	.up_info {
		margin: 20px 0 10px 0;

    .nav-tabs{
      display: flex;
      margin: 0 10px;
      .nav-item{
        flex: 1;
        .nav-link{
          width: 100%;
        }
      }
    }

		.up_buttons {
			display: flex;
			text-align: center;
			// padding: 0 10px 10px 0px;
			// box-shadow: 0 3px 4px -4px rgba(0,0,0,1);

			a {
				padding: 6px 12px 6px 12px;
        border-radius: 10px 10px 0 0 !important;
			}

			//&:first-child {
			//	margin-left: 10px;
			//}

			.up_button_num {
				font-size: 22px;
				color: #777;
				line-height: 22px;
			}
			.up_button_text {
				font-size: 10px;
				color: #777;
			}

			.active {
				.up_button_num {
					color: #000;
				}
				.up_button_text {
					color: #000;
				}
			}
		}

		.up_button_container {
			padding: 20px;
			background-color: #f2f2f2;
			margin-top: 3px;
		}
	}

	.dashboard_item {
		width: 46%;
		display: inline-block;
		margin: 2%;
		vertical-align: top;
		height: 200px;
	}

	.tab-content {
		padding: 5px;
	}


	// reviews

	.review {
		border: 1px solid #ddd;
		margin: .5em;
		padding: .7em 1em;
		border-radius: 5px;
		margin-bottom: 7px;
		background-color: #f2f2f2;

		.namesurnamestars {
			display: flex;
			padding-bottom: 5px;
			border-bottom: 1px solid #ddd;

			.name {
				text-align: left;
				font-weight: bold;
			}
			.estrelles {
				text-align: right;
				flex-grow: 1;
			}
		}
		.revtext {
			margin-top: 5px;
			font-size: 1.2em;
		}
	}

	.reqquests {
		border-radius: 5px;
		margin: 5px;
		background-color: #f2f2f2;
		text-align: center;

		.item_inside {
			border-top: 1px solid #ddd;
			margin-top: 5px;
			padding-top: 10px;
		}
		.item_title {
			text-transform: uppercase;
			font-weight: bold;
		}
		.item_description {
			margin-bottom: 10px;
		}
	}
}

