<ion-view title="Afegir producte">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <button id="afegirProducte-button16" class="button button-positive  button-block">Image 1</button>
            <button id="afegirProducte-button17" class="button button-positive  button-block">Image 2</button>
            <button id="afegirProducte-button18" class="button button-positive  button-block">Image 3</button>
        </div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Títol</span>
                <input type="text" placeholder="" ng-model="product.title">
            </label>
            <label class="item item-input">
                <span class="input-label">Descripció</span>
                <textarea placeholder="" ng-model="product.description"> </textarea>
            </label>
        </form>
        <button id="afegirProducte-button19" class="button button-balanced  button-block" ng-click="submitProduct(product)">Enviar</button>
    </ion-content>
</ion-view>
