<!--ion-view title="{{ 'Chat_Title' | translate }}">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Xavi P. - Martell de fusta</div>
            <div class="item item-body">
                <a style="display:inline-block;" ui-sref="menu.xat">
                    <div style="text-align:center;">
                        <img src="img/gArp0i5sQuCcaiZQOGJ6_martillo.jpg" width="40%" height="auto">
                    </div>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view-->

<ion-view title="{{ 'Chat_Title' | translate }}" ng-controller="ChatCtrl as chatCtrl" class="light-grey">
  <ion-content has-bouncing="true" class="content">
    <div ng-show="chatCtrl.connected">
      <div class="log">{{chatCtrl.number_message}}</div>
    </div>
    <div>
      <ul>
        <li ng-class="{'message':message.style,'log':!message.style}"  ng-repeat="message in chatCtrl.messages" >
          <span ng-show="message.style" ng-style="{color:message.color}" >{{message.username}} : </span >{{message.content}}
        </li>
      </ul>
    </div>
  </ion-content>
    <div class="list light-grey bottommsg">
      <div class="item item-input-inset light-grey">
        <label  class="item-input-wrapper line-light-grey nopadtop">
          <input class="line-light-grey" ng-change="chatCtrl.updateTyping()" type="text"  placeholder="Message" ng-enter="chatCtrl.sendMessage()" ng-model="chatCtrl.message">
        </label>
        <div class="divsend">
          <button class="button button-clear ion-android-send iconsend" ng-click="chatCtrl.sendMessage()"></button>
        </div>
      </div>
    </div>
</ion-view>
