<ion-view title="Login">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <form class="list">
      <ion-list>
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" placeholder="" ng-model="username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" placeholder="" ng-model="password">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button id="login-button32" class="button button-stable button-block" ng-click="login();">Log in</button>
      <div class="spacer" style="height: 10px;"></div>
      <div style="text-align: center;">
        <img src="assets/img/google_auth.png" ng-click="googleLogin();" />
        <img src="assets/img/facebook_auth.png" style="margin-left: 20px;" />
        <img src="assets/img/twitter_auth.png" ng-click="twitterLogin();" style="margin-left: 20px;" />
      </div>
      <a ui-sref="forgot" id="login-button39" class="button button-positive button-block button-clear">Forgot your password?</a>
      <a ui-sref="signup" id="login-button38" class="button button-positive button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>
