<ion-view title="Editar producte">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/ZB19ByvRRcGImHCJZwZD_escalera-madera.jpg" width="50%" height="auto">
        </div>
        <form class="list">
            <label class="item item-input" name="title">
                <span class="input-label">Títol</span>
                <input type="text" placeholder="Escala mitjana">
            </label>
            <label class="item item-input">
                <span class="input-label">Descripció</span><textarea placeholder=""> Deixo la meva escala. És de mida mitjana i pesa poc.</textarea>
            </label>
        </form>
        <button class="button button-balanced button-block ">Enviar</button>
    </ion-content>
</ion-view>