<ion-view title="Fer petició">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <button class="button button-positive button-block ">Image 1</button>
            <button class="button button-positive button-block ">Image 2</button>
            <button class="button button-positive button-block ">Image 3</button>
        </div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Títol</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Descripció</span><textarea placeholder=""> </textarea>
            </label>
        </form>
        <a ui-sref="menu.taulellDePeticions" class="button button-balanced button-block ">Enviar</a>
    </ion-content>
</ion-view>