<ion-view title="Perfil">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div>
            <p>
            </p>
            <h2 style="text-align:center;">Dani G.</h2>
            <p></p>
        </div>
        <div style="text-align:center;">
            <img src="img/E9Y08hwnREqPAGIqbV1v_user.png" width="20%" height="auto">
        </div>
        <div>
            <p style="text-align:center;">⭐⭐⭐⭐⭐ - ✅</p>
            <p></p>
        </div>
        <div class="spacer" style="width: 300px; height: 20px;"></div>
        <div>
            <p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2993.3653116132123!2d2.111207016324169!3d41.38787227926425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a49850dadd0cbb%3A0x5c2e12d6c52a99f4!2sCampus+Nord+UPC!5e0!3m2!1sca!2ses!4v1457528399148"
                width="300" height="150" frameborder="0" style="border:0" allowfullscreen=""></iframe>
            </p>
        </div>
        <div>
            <p>
                Nº Productes deixats:
                <b>10</b>
            </p>
            <p>
                Nº Productes que m'han deixat:
                <b>3</b>
            </p>
        </div>
        <div class="button-bar">
            <a ui-sref="menu.actuals" class="button button-stable button-block button-small">Actuals</a>
            <a ui-sref="menu.peticions" class="button button-stable button-block button-small">Peticions</a>
            <a ui-sref="menu.valoracions" class="button button-stable button-block button-small">Valoracions</a>
        </div>
    </ion-content>
</ion-view>