<ion-view title="Petició">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h3>Trepant</h3>
        <div style="text-align:center;">
            <img src="img/P7ECsBE1QN295DPnmHAr_taladro.JPG" width="70%" height="auto">
        </div>
        <div>
            <p>Necessito un trepant amb broca 6mm. Si algú en té un li vinc a buscar on em digui. El necessito per penjar un quadre.</p>
        </div>
        <a ui-sref="menu.xat" class="button button-calm button-block ">Jo en tinc un! 😊</a>
        <div>
            <p style="text-align:center; color: #777; font-size: 14px;">
                Petició creada:
                <b>fa un dia</b>
            </p>
        </div>
        <div class="spacer" style="width: 300px; height: 40px;"></div>
        <a ui-sref="menu.perfil" class="button button-light button-block ">Xavi P.</a>
        <div>
            <p style="text-align:center;">⭐⭐⭐⭐⭐</p>
            <p></p>
        </div>
        <a ui-sref="menu.denunciarObjecte" class="button button-assertive button-block button-small">Denunciar petició</a>
        <div class="spacer" style="width: 300px; height: 7px;"></div>
    </ion-content>
</ion-view>