<ion-view title="{{ 'Menu_Settings' | translate }}">
    <ion-content overflow-scroll="true" class="has-header configuration">
        
        <!-- PHOTO AND NAME -->
        <div id="photo_and_name">
        	
        	<!-- PHOTO -->
        	<div id="photo">
        		<div class="title">
        			Foto
        		</div>
        		<img ng-src="{{ settings.image }}" ng-click="changeImage()">
        	</div>

					<!-- NAME AND SURNAME -->
					<div id="name">
						<div class="title">
							Nom
						</div>
						<input type="text" ng-model="settings.name">
						<div class="title" id="surname">
							Cognom
						</div>
						<input type="text" ng-model="settings.surname">
					</div>

        </div>

        <!-- CHANGE PASSWORD -->
        <!-- <div id="change_password">
					Canviar contrasenya
				</div> -->

				<!-- IDIOMA -->
     		<div class="wrap" id="language">
     			<div class="title">
						Idioma
					</div>
     			<label class="item item-input item-select">
						<select ng-model="settings.lang">
						  <option value="ca">Català</option>
						  <option value="es-ES">Español</option>
						  <option value="en-US">Anglés</option>
						</select>
					</label>
     		</div>

				<!-- RADI -->
        <div class="wrap">
	        <div class="title">
						Radi (metres)
					</div>
					<input type="number" ng-model="settings.radius">
				</div>

				<!-- UBICACIÓ -->
        <div class="wrap">
	        <div id="geolocation" ng-click="setLocation()">
						Canviar ubicació
					</div>
					
				</div>
				
				<!-- MAPA -->
				<ng-map class="mapa"></ng-map>

				<!-- CHANGE PASSWORD -->
        <div id="logout" ng-click="logout()">
					Tancar sessió
				</div>

				<!-- SAVE -->
        <div id="save" ng-click="saveChanges()">
					Desar
				</div>

    </ion-content>
</ion-view>
