<ion-view title="Signup">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="" ng-model="input.name">
                </label>
                <label class="item item-input">
                    <span class="input-label">Surname</span>
                    <input type="text" placeholder="" ng-model="input.surname">
                </label>
              <label class="item item-input">
                <span class="input-label">Mail</span>
                <input type="text" placeholder="" ng-model="input.email">
              </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="" ng-model="input.password">
                </label>
            </ion-list>
            <button id="signup-button39" class="button button-stable button-block" ng-click="signup();">Sign up</button>
        </form>
    </ion-content>
</ion-view>
