<ion-view title="Actuals">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">🔒 Escala mitjana</div>
            <div class="item item-body">
                <a style="display:inline-block;" ui-sref="menu.escalaMitjana">
                    <div style="text-align:center;">
                        <img src="img/jGkCex8CS5WhRrod5HKJ_escalera-madera.jpg" width="50%" height="auto">
                    </div>
                </a>
                <form class="list"></form>
                <div>
                    <p style="text-align:center;">⭐⭐⭐</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>