<ion-view title="Editar petició">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/VjM6q6RuSv2jUaKFFdtA_taladro.JPG" width="50%" height="auto">
        </div>
        <form class="list">
            <label class="item item-input" name="title">
                <span class="input-label">Títol</span>
                <input type="text" placeholder="Trepant">
            </label>
            <label class="item item-input">
                <span class="input-label">Descripció</span><textarea placeholder=""> Necessito un trepant amb broca 6mm. Si algú en té un li vinc a buscar on em digui. El necessito per penjar un quadre.</textarea>
            </label>
        </form>
        <a ui-sref="menu.peticions" id="editarPetici-button28" class="button button-balanced  button-block">Enviar</a>
    </ion-content>
</ion-view>