<ion-view title="Taulell de peticions">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <a ui-sref="menu.ferPetici" id="taulellDePeticions-button33" class="button button-royal  button-block">Fer petició nova! 😊</a>
        <div class="spacer" style="width: 300px; height: 25px;"></div>
        <div>
            <p>
                <b>Xavi P.</b>necessita:
            </p>
        </div>
        <a ui-sref="menu.petici" id="taulellDePeticions-button20" class="button button-stable  button-block">Un trepant</a>
        <div class="spacer" style="width: 300px; height: 22px;"></div>
        <div>
            <p>
                <b>Olga C.</b>necessita:
            </p>
        </div>
        <a ui-sref="menu.petici" id="taulellDePeticions-button21" class="button button-stable  button-block">Matalàs</a>
    </ion-content>
</ion-view>