<ion-view title={{actualProduct.name}}>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:right;">
            <img ng-src={{favoriteImgUrl}} ng-click="toggleFavorite()" width="10%" height="auto">
        </div>
        <div style="text-align:;">
            <img ng-src="data:image/png;base64,{{actualProduct.imgUrl}}"" width="100%" height="auto">
        </div>
        <form class="list"></form>
        <div>
            <p style="text-align:center;">⭐⭐⭐⭐⭐</p>
            <p></p>
        </div>
        <div>
            <p>{{actualProduct.description}}</p>
        </div>
        <a ui-sref="menu.xat" id="martellDeFusta-button7" class="button button-calm  button-block">Ho necessito! </a>
        <div>
            <p style="text-align:center; color: #777; font-size: 14px;">
                <b>3</b>&nbsp;sharits
            </p>
        </div>
        <div>
            <p style="text-align:center; color: #777; font-size: 14px;">
                Últim sharit:
                <b>{{actualProduct.lastSharit}}</b>
            </p>
        </div>
        <a ui-sref="menu.valoracions" id="martellDeFusta-button3" class="button button-balanced button-small button-block" ng-click="showValoracions()">Valoracions (6)</a>
        <!-- <div>
            <p>
              <iframe id="myIF" width="300" height="300" align="middle" frameborder="0" style="border:0" allowfullscreen=""></iframe>
            </p>
        </div> -->
        <ng-map></ng-map>
        <a ui-sref="userProfile" id="martellDeFusta-button5" class="button button-light  button-block">{{actualProduct.ownerName}}</a>
        <div>
            <p style="text-align:center;">⭐⭐⭐⭐⭐</p>
            <p></p>
        </div>
        <a ui-sref="menu.denunciarObjecte" id="martellDeFusta-button4" class="button button-assertive button-small button-block">Denunciar objecte</a>
        <div class="spacer" style="width: 300px; height: 12px;"></div>
    </ion-content>
</ion-view>
