<ion-view title="{{ product.ItemName }}">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:right;">
            <img ng-src="{{ favoriteImg }}" ng-click="toggleFavorite()" width="10%" height="auto">
        </div>
        <div ng-if="productImage" style="text-align:;">
            <!--<ion-slide-box>-->
                <!--<ion-slide>-->
                    <!--<img ng-src="{{ productImage }}" width="100%" height="auto">-->
                <!--</ion-slide>-->
                <!--<ion-slide ng-if="product.Image2">-->
                    <!--<img ng-src="{{ product.Image2 }}" width="100%" height="auto">-->
                <!--</ion-slide>-->
                <!--<ion-slide ng-if="product.Image3">-->
                    <!--<img ng-src="{{ product.Image3 }}" width="100%" height="auto">-->
                <!--</ion-slide>-->
            <!--</ion-slide-box>-->
          <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <!--<uib-slide index="0">-->
              <!--<img ng-src="{{ productImage }}" style="margin:auto;">-->
            <!--</uib-slide>-->
            <!--<uib-slide index="1" ng-if="product.Image2">-->
              <!--<img ng-src="{{ product.Image2 }}" style="margin:auto;">-->
            <!--</uib-slide>-->
            <!--<uib-slide index="2" ng-if="product.Image3">-->
              <!--<img ng-src="{{ product.Image3 }}" style="margin:auto;">-->
            <!--</uib-slide>-->

            <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
              <img ng-src="{{slide.image}}" width="80%" height="auto" style="margin:auto;">
            </uib-slide>

          </uib-carousel>

        </div>
        <form class="list"></form>
        <div>
            <p style="text-align:center;">⭐⭐⭐⭐⭐</p>
            <p></p>
        </div>
        <div>
            <p>{{ product.description }}</p>
        </div>
        <a id="martellDeFusta-button7" ng-if="canAskForProduct" class="button button-calm button-block " ng-click="startChat()">Ho necessito! </a>
        <!-- <div>
            <p style="text-align:center; color: #777; font-size: 14px;">
                <b>3</b>&nbsp;sharits
            </p>
        </div> -->
        <div>
            <p style="text-align:center; color: #777; font-size: 14px;">
                Últim sharit:
                <b>{{ product.LastSharit }}</b>
            </p>
        </div>
        <!-- <a ui-sref="menu.valoracions" id="martellDeFusta-button3" class="button button-balanced button-small button-block" ng-click="showValoracions()">Valoracions (6)</a> -->
        <!-- <div>
            <p>
              <iframe id="myIF" width="300" height="300" align="middle" frameborder="0" style="border:0" allowfullscreen=""></iframe>
            </p>
        </div> -->
        <ng-map></ng-map>
        <a id="martellDeFusta-button5" class="button button-light button-block" ng-click="goToUserProfile(ownerData.id)">{{ ownerData.name }}</a>
        <div>
            <p style="text-align:center;">⭐⭐⭐⭐⭐</p>
            <p></p>
        </div>
        <a ui-sref="app.complaints({ itemId: product.Idd, ownerId: product.IDuser })" id="martellDeFusta-button4" class="button button-assertive button-small button-block">Denunciar objecte</a>
        <div class="spacer" style="width: 300px; height: 12px;"></div>
    </ion-content>
</ion-view>
