<ion-view title="{{ product.ItemName }}">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:right;">
            <img ng-src="{{ favoriteImg }}" ng-click="toggleFavorite()" width="10%" height="auto">
        </div>

      <ion-slides options="options">
        <ion-slide-page ng-repeat="slide in slides">
            <img ng-src="{{slide.image}}">
        </ion-slide-page>
      </ion-slides>

      <h3 style="text-align: center">{{ product.ItemName }}</h3>

        <div>
            <p>{{ product.Description }}</p>
        </div>
        <a id="martellDeFusta-button7" ng-if="canAskForProduct" class="button button-calm button-block " ng-click="startChat()">Ho necessito! </a>
        <div>
            <p style="text-align:center; color: #777; font-size: 14px;">
                Últim sharit:
                <b>{{ product.LastSharit }}</b>
            </p>
        </div>
        <ng-map></ng-map>
        <a id="martellDeFusta-button5" class="button button-light button-block" ng-click="goToUserProfile(ownerData.id)">{{ ownerData.name }}</a>
        <div>
            <p style="text-align:center;">⭐⭐⭐⭐⭐</p>
            <p></p>
        </div>
        <a ui-sref="app.complaints({ itemId: product.Idd, ownerId: product.IDuser })" id="martellDeFusta-button4" class="button button-assertive button-small button-block">Denunciar objecte</a>
        <div class="spacer" style="width: 300px; height: 12px;"></div>
    </ion-content>
</ion-view>
