<ion-view title="{{ 'Request_Title' | translate }}">
  <ion-content overflow-scroll="true" padding="true" class="has-header peticions_content">
    <div class="button_requests_dashboard">
      <div ng-click="changetodashboard()" class="anuncis">Anuncios</div>
      <div class="peticions button_active">Peticiones</div>
    </div>
    <a id="taulellDePeticions-button33" class="button button-royal button-block" ui-sref="app.requestProduct">{{
      'New_Request' | translate }}</a>
    <input class="search_input" type="text" ng-model="selected" uib-typeahead="item for item in itemNames | filter:$viewValue | limitTo:8"
           placeholder="Cerca el que necessitis">

    <div ng-repeat="item in items | filter:selected">
      <div class="item item-body">
        <b>{{ item.UserName }} {{ item.UserSurname }}</b> {{ 'Needs' | translate }}:
        <div class="item_inside">
          <div class="item_title">
            {{ item.Name }}
          </div>
          <div class="item_description">
            {{ item.Descripcio }}
          </div>
          <img ng-src="{{ item.Image }}">
          <a class="button button-royal button-block" ng-click="acceptRequest(item)">{{
            'Accept_Request' | translate }}</a>
          <!--<img ng-src="http://placehold.it/200x150" alt="Imatge del producte que es busca" class="item_image">-->
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
