<ion-view title="{{ 'Request_Title' | translate }}">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <a id="taulellDePeticions-button33" class="button button-royal  button-block" ng-click="requestProduct()">{{ 'New_Request' | translate }}</a>
    <div class="spacer"></div>
      <div ng-repeat="item in items track by $index">
        <div class="item item-body">
          <a style="display:inline-block;">
            <div>
              <p style="text-align:center;"><b>{{ item.requesterName }} </b> {{ 'Needs' | translate }}:</p>
              <p> {{ item.productName }} </p>
              <p> {{ item.description }}</p>
            </div>
          </a>
        </div>
      </div>
  </ion-content>
</ion-view>
